<!--The content below is only a placeholder and can be replaced.-->
<div id="sidedrawer-menu" [ngClass]="{openedSidedrawer:isOpen, closedSidedrawer:!isOpen}">
    <div>
        MENU
    </div>
    <ul>
        <li>
            <a routerLink="" (click)="toggleSidedrawer()">Home</a>
        </li>
        <li>
            <a>Log in</a>
        </li>
        <li>
            <a>About</a>
        </li>
    </ul>
</div>
<div id="app-header" [ngClass]="{openedHeader:isOpen, closedHeader:!isOpen}">
    <span class="burger-menu" (click)="toggleSidedrawer()">III</span>
    <span class="app-header-txt">MAXICO</span>
</div>
<div id="router-container" [ngClass]="{openedHeader:isOpen, closedHeader:!isOpen}">
    <router-outlet></router-outlet>
</div>